@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#login{
    width: 99vw;
    height: 100vh;
    background-color: #E2CE1A;
    align-items: center;
    justify-content: center;
    display: flex;
}

#conteiner{
    width: 944px;
    height: 555px;
    top: 238px;
    left: 248px;
    border-radius: 16px;
    background: #FEFAA1;
    display: flex;
    
    
    
}

#esquerda{
    width: 304px;
    height: 555px;
    top: 238px;
    left: 248px;
    border-radius: 16px 0px 0px 16px;
    background-color: #36320A;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


#imagem1{
    width: 150px;
    height: 0px;
    margin-top: 200px;


   
}

#imagem2{
    width: 157px;
height: 91px;
top: 386px;
left: 292px;



}


#header-esquerda > h1{
    width: 251px;
    height: 56px;
    top: 480px;
    left: 301px;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: #ffffff;
  text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;


    

}

#header-esquerda > p{
    width: 239px;
    height: 83px;
    top: 519px;
    left: 301px;
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    
    
}

#esquerda-inf > button{
    width: 232px;
height: 70px;
top: 644px;
left: 292px;
border-radius: 30px;
border: 4px;
font-family: Poppins;
font-size: 23px;
font-weight: 700;
line-height: 35px;
letter-spacing: 0em;




}

#esquerda-inf > p{
    width: 190px;
    height: 29px;
    top: 726px;
    left: 313px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    


}


#direita > #header-direita{
    width: 296px;
height: 50px;

}
#direita > #header-direita > h1{
    

}

#direita > #header-direita > p{

    width: 224px;
height: 36px;
top: 333px;
left: 762px;


}

#direita{
    align-items: center;
    justify-content: center;
    
}

